.card-movie-container {
    border: solid 1px white;
    border-radius: 10px;
    margin: 15px 5px;
}
.card-movie-title {
    font-size: 28px;
}
.card-movie-release-date {
    font-size: 16px;
}
.card-move-image {
    max-width: 250px;
}
.card-movie-genres-container{
    width: auto;
    height: auto;
    border-radius: 10px;
    border: white 1px solid;
    padding: 20px;
}
.header-col{
    padding: 5px;
    background-color: rgb(75, 69, 69);
    text-align: center;
}