.card-movie-container {
    border: solid 1px white;
    border-radius: 10px;
    margin: 15px 5px;
}
.card-movie-title {
    font-size: 24px;
    color: #d2d200;
}
.card-movie-release-date {
    font-size: 16px;
    color: #d2d200;
}
.card-move-image {
    max-width: 160px;
    margin: 20px 0;
}
.card-movie-genres-container{
    width: auto;
    height: auto;
    border-radius: 10px;
    border: white 1px solid;
    padding: 20px;
    margin: 10px
}