.thumb-image{
    border: white solid 1px;
    margin: 5px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}
.movie-title{
    padding: 15px 0 0 10px;
    font-size: 26px;
}
.like-btn{
    float: right;
    position: relative;
    top: -40px;
}
.movie-liked{
    color: red !important;
}
.movie-unliked{
    color: gray !important;
}