.img-border{
    border: white solid 1px;
    margin: 5px;
}
.movie-title{
    padding: 15px 0 0 10px;
    font-size: 26px;
}
.data-title{
    font-size: 11px;
    text-align: end;
    padding-top: 4px;
}
.small-button{
    padding: 0px 6px !important;
    margin: 4px !important;
}
.like-btn{
    float: right;
    position: relative;
    top: -40px;
}
.movie-liked{
    color: red !important;
}
.movie-unliked{
    color: gray !important;
}